/*
pink: rgb(232, 115, 135)
yellow: rgb(252, 209, 122)
black: rgb(65, 63, 69)
beige: rgb(245, 233, 225)
*/

* {
  margin: 0;
  padding: 0;
}

a {
  color: rgb(232, 115, 135);
  text-decoration: none;
}

html, body, .site-header h1 a, .site-header h2 a {
  color: rgb(55, 53, 59);
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "prenton", sans-serif;
  font-size: 100%;
  background-color: #fbe9ec;
}

.site-header h1, .site-header h2 {
  font-family: PeignotLTStd-Demi;
  font-weight: normal;
  font-style: normal;
  font-size: 600%;
  text-transform: lowercase;
}

.site-header h1 {
  margin-bottom: 0.34em;
  font-size: 600%;
}

.site-header h2 {
  font-size: 400%;
}

h2 {
  margin-bottom: 0.24em;
}

p {
  margin-bottom: 1em;
}

nav a {
  display: block-inline;
  font-size: 200%;
  margin: 0 0.5em;
}

#main {
  width: 100%;
  height: 100%;
  padding-bottom: 2em;
}

.wrapper {
  padding: 0 32px;
  width: calc(100% - 64px);
  margin: 0 auto;
  max-width: 900px;
}

.full-width {
  width: 100%;
  background-color: rgb(245, 233, 225);
}

.splash {
  width: 100%;
  height: 100%;
  background: url("/images/bg1.jpg") no-repeat center top;
  background-size: cover;
}

.site-header {
  text-align: center;
  padding: 3em 0 2em;
}

.site-header-slim {
  padding: 1.5em 0 2.2em;
}

.site-footer {
}

.info {
  width: 100%;
  font-size: 130%;
  text-align: center;
  padding-bottom: 2em;
}
.info img {
  max-width: 100%;
  height: auto;
}

.info .social a {
  display: inline-block;
  padding: 0.2em;
}

.page-content {
  margin-top: 2em;
}

.work-item {
  padding-bottom: 4em;
}
.work-item > div {
  width: 100%;
  height: auto;
}
.work-item > div img {
  width: 100%;
}

@media screen and (min-width: 572px) {
  /* Horizontal layout */
  .work-item {
    display: flex;
    flex-direction: row;
  }
  .work-item > div {
    order: 1;
    box-sizing: border-box;
    flex: 1;
    margin: 0 1em 0 0;
  }
  .work-item > div.right {
    order: 2;
    margin: 0 0 0 1em;
  }
  /* Vertical layout */
  .work-item > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* Info layout */
  .info {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .info .info-item {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .info .profile-pic {
    flex: 2;
    margin-right: 1em;
  }
}

@media screen and (max-width: 571px) {
  .work-item > div, .info .profile-pic {
    margin-bottom: 1em;
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 66.66%;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
