/*
pink: rgb(232, 115, 135)
yellow: rgb(252, 209, 122)
black: rgb(65, 63, 69)
beige: rgb(245, 233, 225)
*/

* {
  margin: 0;
  padding: 0;
}

a {
  color: rgb(232, 115, 135);
  text-decoration: none;
}

html, body, .site-header h1 a, .site-header h2 a {
  color: rgb(55, 53, 59);
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "prenton", sans-serif;
  font-size: 100%;
  background-color: #fbe9ec;
}

figcaption {
  font-size: 0.5em;
  font-style: italic;
  text-align: right;
}

.site-header h1, .site-header h2 {
  font-family: PeignotLTStd-Demi;
  font-weight: normal;
  font-style: normal;
  font-size: 600%;
  text-transform: lowercase;
}

.site-header h1 {
  margin-bottom: 0.34em;
  font-size: 600%;
}

.site-header h2 {
  font-size: 400%;
}

h2 {
  margin-bottom: 0.24em;
}

p {
  margin-bottom: 1em;
}

nav a {
  display: block-inline;
  font-size: 200%;
  margin: 0 0.5em;
}

#main {
  width: 100%;
  height: 100%;
  padding-bottom: 2em;
}

.wrapper {
  padding: 0 32px;
  width: calc(100% - 64px);
  margin: 0 auto;
  max-width: 900px;
}

.full-width {
  width: 100%;
  background-color: rgb(245, 233, 225);
}

.splash {
  width: 100%;
  height: 100%;
  position: relative;
  background: url("/images/bg2.jpg") no-repeat center top;
  background-size: cover;
}

.splash a {
  display: block;
  width: 100%;
  height: 100%;
}

.splash .credit {
  position: absolute;
  left: 0.5em;
  bottom: 0.2em;
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
}

.site-header {
  text-align: center;
  padding: 3em 0 2em;
}

.site-header-slim {
  padding: 1.5em 0 2.2em;
}

.site-footer {
}

.info {
  width: 100%;
  font-size: 130%;
  /*text-align: center;*/
  padding-bottom: 2em;
}

.info img {
  max-width: 100%;
  height: auto;
}

.info .social {
  width: 100%;
  text-align: center;
}

.info .social a {
  display: inline-block;
  padding: 0.2em;
}

.page-content {
  margin-top: 2em;
}

.work-section {
  padding-bottom: 2em;
}

.work-section.spacer {
  padding-bottom: 3em;
}

.work-section hr {
  width: 40%;
  margin: 0 auto;
  border-top: solid 1px #f3bec7;
}

.work-item {
  margin-bottom: 1em;
}

.work-item > div {
  width: 100%;
  height: auto;
}

.work-item > div img {
  width: 100%;
}

@media screen and (min-width: 572px) {
  /* Horizontal layout */
  .work-item {
    display: flex;
    flex-direction: row;
  }

  .work-item > div {
    order: 1;
    box-sizing: border-box;
    margin: 0 1.2em 0 0;
  }

  .work-item > div:last-child {
    margin: 0;
  }

  .work-item > div.right {
    order: 2;
    margin: 0 0 0 1em;
  }

  .work-item > div.visual {
    justify-content: flex-end;
  }

  .work-item.row-2 > div.visual {
    justify-content: flex-start;
  }

  /* Vertical layout */
  .work-item > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  /* Info layout */
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 572px;
    margin: 0 auto;
  }

  .info .info-item {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1.5em;
  }

  .info .profile-pic {
    flex: 3;
    margin-right: 1em;
  }
}

@media screen and (max-width: 571px) {
  .work-item > div, .info .profile-pic {
    margin-bottom: 1em;
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 66.66%;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flex-2 { flex: 2; }
.flex-3 { flex: 3; }
.flex-4 { flex: 4; }
.flex-5 { flex: 5; }
